* {
  box-sizing: inherit; /* ke thua tu the html co thuoc tinh boderbox*/
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /*1px = 1rem trick mod %*/
  line-height: 1.6rem; /*= 16px */
  font-family: "Roboto", sans-serif; /* chon font , nhung font roboto */
  box-sizing: border-box; /* set up chinh kich thuoc element trong box */
}

li {
  list-style-type: none;
  cursor: pointer;
}

a {
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

input {
  outline: none;
  border: none;
  width: 100%;
  font-size: 1.2em;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

#map {
  position: relative;
  z-index: 1;
  height: 86vh;
}

.app {
  background: rgba(48, 65, 216, 0.9);
  overflow: hidden;
}

.app__left {
  display: flex !important;
  justify-content: center;
  max-width: 230px !important;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: transform ease-in-out 1s;
}
.app__left h2 {
  padding: 24px;
  font-size: 1.6rem;
  color: #fff;
}
.app__left .app__left--content {
  background: #fff;
  width: 100%;
  padding: 4px;
  margin-left: 24px;
  border-radius: 4px;
  height: 86vh;
  overflow: auto;
}
.app__left .app__left--content::-webkit-scrollbar {
  display: none;
}
.app__left .app__left--footer {
  display: flex;
  width: 60%;
  background: #fff;
  margin: 7px 0px 6px 0;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.app__left .app__left--footer p {
  font-size: 1.6rem;
  margin: 3px 34px;
}
.app__left .app__left--footer i {
  font-size: 1.6rem;
  margin: 3px 0;
  cursor: pointer;
  padding: 0 6px;
}

.app__right {
  position: relative;
}
.app__right .app__right--header {
  display: flex !important;
  align-items: center;
  flex-direction: row;
  padding: 12px;
}
.app__right .app__right--header i {
  color: #fff;
  font-size: 2.4rem;
}
.app__right .app__right--header h2 {
  padding: 12px;
  color: #fff;
}
.app__right .app__right--content {
  width: 150% !important;
  background: #fff;
  border-radius: 4px;
  height: 86vh;
  position: relative;
  transition: transform ease-in-out 1s;
}

.app__right--icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3.4rem;
  font-weight: 600;
  color: #fff;
  background-color: rgba(48, 65, 216, 0.85);
  width: 30px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.disable {
  display: none !important;
}

.data__show {
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  padding: 4px 0px;
  border-radius: 4px;
  margin: 4px 0;
  cursor: pointer;
}

.active--color {
  background: antiquewhite;
}

.bulkhead {
  margin: 0 2px;
}

.data__info {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.6rem;
  font-weight: 500;
  background: rgba(101, 176, 241, 0.9);
  padding: 15px;
  line-height: 2.6rem;
  border-radius: 4px;
}
.data__info i {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2px;
  padding: 4px;
  background-color: red;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
}

.active__rightl {
  width: 121% !important;
}/*# sourceMappingURL=style.css.map */